.social-share {
    overflow: hidden;
    display: inline-block;

    .social-share__btn {
        color: #ffffff;
        float: left;
        width: 46px;
        padding: 8px 0;
        line-height: 18px;
        margin: 0 10px 0 0;
        text-align: center;
        border-radius: 3px;
        vertical-align: middle;

        -webkit-transition: background 0.2s ease-in-out;
        transition: background 0.2s ease-in-out;

        i {
            font-size: 18px;

            &:before {
                font-size: 18px;
            }
        }
    }
}

.social-share__btn {
    text-decoration: none;
    background-color: #95a5a6;

    &:hover {
        text-decoration: none;
        background-color: darken(#95a5a6, 10%);
    }
}

/**
 * Network Colors
 */
$networks: (
        "twitter": #00aced,
        "facebook": #3b5998,
        "googleplus": #d34836,
        "linkedin": #007bb6,
        "reddit": #ff1900,
        "pinterest": #bd081c,
        "mail": #f1c40f,
) !default;

@each $network, $value in $networks {
    .social-share__btn--#{$network} {
        background-color: $value;

        &:hover {
            background-color: darken($value, 10%);
        }
    }
}
