.social-share {
    overflow: hidden;
    display: inline-block;

    &[class*="social-share--sticky-"] {
        z-index: 2000;
        position: fixed;

        .social-share__btn {
            margin: 0;
            float: left;
        }

        &.social-share--sticky-left,
        &.social-share--sticky-right {
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);

            .social-share__btn {
                clear: both;
                display: block;
            }
        }

        &.social-share--sticky-bottom {
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }

    &.social-share--sticky-left {
        left: 0;
    }

    &.social-share--sticky-right {
        right: 0;
    }

    &.social-share--sticky-right {
        right: 0;
    }
}

.social-share__btn {
    float: left;
    color: #ffffff;
    line-height: 21px;
    padding: 12px 16px;
    margin: 0 10px 0 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: #95a5a6;

    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        color: #ffffff;
        text-decoration: none;
        background-color: darken(#95a5a6, 10%);
    }

    i {
        font-size: 18px;
    }
}

.social-share__text {
    margin-left: 0.5rem;
}

/**
 * Network Colors
 */
$networks: (
        "twitter": #00aced,
        "facebook": #3b5998,
        "googleplus": #d34836,
        "linkedin": #007bb6,
        "reddit": #ff1900,
        "tumblr": #365574,
        "buffer": #313b43,
        "pinterest": #bd081c,
        "mail": #f1c40f,
) !default;

@each $network, $value in $networks {
    .social-share__btn--#{$network} {
        background-color: $value;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($value, 10%);
        }
    }
}
